@tailwind base;
@tailwind components;

html, body{
    margin: 0;
    padding: 0;
    background-color: #fdfbfb;
}

*{
    box-sizing: border-box
}

.menu{
    position: fixed;
    right: 1rem;
    left: 0;
    bottom: 0;
    top: 0;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.show-menu{
    transform: translateY(0)
}

.close{
    display: none;
}

a:hover{
    font-weight: bold;
}

button:hover{
    font-weight: bold;
}

.line{
    font-weight: 700;
    font-size: 48px;
    line-height: 3.18rem;
}

.background{
    background: linear-gradient(90deg, #ABA7A7, #ECDE91)
}

.about{
    background-image: url(/GROUP-6/Group6/Images/about.svg);
}


@tailwind utilities;