@tailwind base;
@tailwind components;

html, body{
    margin: 0;
    padding: 0;
    background-color: #fdfbfb;
}

*{
    box-sizing: border-box
}

a:hover{
    font-weight: bold;
}

.info{
    /* font-size: 22px; */
}

.line{
    font-weight: bold;
    font-size: 48px;
    line-height: 3.5rem;
}

.background{
    background: linear-gradient(90deg, #ABA7A7, #ECDE91)
}

.about{
    background-image: url(/GROUP-6/Group6/Images/about.svg);
}

@tailwind utilities;